# Assignment 07 Solutions

#### Q-13. Write an SQL query to show only odd rows from a table.
**Ans:** `SELECT * FROM Worker Where MOD(worker_id,2) = 1`

#### Q-14. Write an SQL query to clone a new table from another table.


## Original Database
CREATE TABLE dates (    
id INT PRIMARY KEY AUTO_INCREMENT,     
day VARCHAR(2) NOT NULL,     
month VARCHAR(10) NOT NULL,    
year VARCHAR(4) NOT NULL    

);    
     
INSERT INTO dates (day,month,year)     
VALUES (’29’,’January’,’2011’),      
(’30’,’January’,’2011’),     
(’30’,’January’,’2011’),    
(’14’,’February,’2017’),    
(’14’,’February,’2018’),    
(‘23’,’March’,’2018’),    
(‘23’,’March’,’2018’),    
(‘23’,’March’,’2019’),    
(‘29’,’October’,’2019’),    
(‘29’,’November’,’2019’),    
(‘12’,’November’,’2017’),    
(‘17’,’August’,’2018’),    
(‘05’,’June’,’2016’);


### Clone data of a table to another table
`INSERT INTO Clonedates SELECT * FROM dates;`