## Assignment 10 Solutions

#### Q-19. Write an SQL query to determine the 5th highest salary without using TOP or limit method.

**Ans:** `SELECT * FROM (SELECT ROW_NUMBER() OVER (ORDER BY salary DESC) AS row_number, first_name, salary FROM employee) as HEllO WHERE row_number=5;`

#### Q-20. Write an SQL query to fetch the list of employees with the same salary.

**Ans:** `SELECT * FROM employee ORDER BY salary ASC;`